<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251877119374-edf24n2lo1ek5ik88me7i0ocsqfq5pt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251877119374-edf24n2lo1ek5ik88me7i0ocsqfq5pt9</string>
	<key>API_KEY</key>
	<string>AIzaSyBNpPUfgwOJ9EUJyT3apbePevAOo2Jn3jE</string>
	<key>GCM_SENDER_ID</key>
	<string>251877119374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kwilax.kobe</string>
	<key>PROJECT_ID</key>
	<string>kobe-581d2</string>
	<key>STORAGE_BUCKET</key>
	<string>kobe-581d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251877119374:ios:6f310e49d54095683a80df</string>
</dict>
</plist>